<!doctype html>
<html lang="en" data-ng-app="mongoDBRiverApp">
  <head>
    <meta charset="utf-8">
    <title>MongoDB River Plugin for ElasticSearch</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-resource.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.6.0/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.1.0/lodash.min.js"></script>
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <div data-ng-controller="MainCtrl" class="container">
      <div class="row">
        <div class="col-md-12">
          <h3>MongoDB River Administration</h3>
          <tabset>
            <tab heading="Home">
              <div class="content">
                <div data-ng-repeat="river in rivers">
                  <div class="panel panel-info">
                    <div class="panel-heading">River: {{ river._name }} - Status: 
                      <span data-ng-show="!river._enabled" class="label label-warning">Disabled</span>
                      <span data-ng-show="river._enabled" class="label label-success">Enabled</span>
                    </div>
                    Settings: 
                    <pre>{{ toString(river) }}</pre>
                    <br/>
                    Actions: 
                    <span class="btn btn-small btn-success" data-ng-disabled="river._enabled" data-ng-click="start(river._name)">Start</span>
                    <span class="btn btn-small btn-danger" data-ng-disabled="!river._enabled" data-ng-click="stop(river._name)">Stop</span>
                  </div>
                </div>
              </div>
            </tab>
            <!--
            <tab heading="Logging">Logging</tab>
            -->
          </tabset>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="scripts/app.js"></script>
  </body>
</html>
